@use "../utils/breakpoint";

%strong-title {
  font-size: 16px;
  font-weight: 700;
  @include breakpoint.tablet {
    font-size: 22px;
  }
  @include breakpoint.desktop {
    font-size: 24px;
  }
}

%title {
  font-size: 20px;
  @include breakpoint.tablet {
    font-size: 22px;
  }
  @include breakpoint.desktop {
    font-size: 24px;
  }
}

%sub-title {
  font-size: 16px;
  @include breakpoint.tablet {
    font-size: 18px;
  }
}

%body {
  font-size: 14px;
  @include breakpoint.tablet {
    font-size: 16px;
  }
}

%remark {
  font-size: 12px;
  @include breakpoint.tablet {
    font-size: 14px;
  }
}
